<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
</head>
<body>
    <a href="/dashboard">DASHBOARD PAGE</a>

    <div class="myprofile_page">
        <p>ADD A BLOCK</p>
        <form method="POST" action="/dashboard/blocks/add" enctype="multipart/form-data">
            <input type="file" name="image" /> 
            <input placeholder="Block Name" name="block" />
            <button type="submit">ADD</button>
        </form>    
        
        <div class="myprofile_page-content">
            <% for(let i = 0; i < data.length; i++){  %>
                <div class="myprofile_page-block">
                    <div class="myprofile_page-img">
                        <div>
                            <h4><%= data[i].block  %></h4>
                            <a href="/dashboard/profile/<%= data[i].user_id  %>">Author: <%= data[i].User.email  %></a>
                        </div>
    
                        <img src="../public/<%= data[i].image  %>"></img>
                        
                    </div>
                    
                    
                    <div class="myprofile_page-comment">
                        <h3>Comments:</h3>
                        
                    </div>
                </div>
                    <%}%>  
                
        </div> 
    </div>

</body>
</html>

