<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Page</title>
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
</head>
<body>
    <div class="dashboard_page">
        <h1>Dashboard</h1>
        <h3>Welcome <%= email %></h3>
        <a href="/dashboard/blocks">NEWS</a><br />
        <a href="/dashboard/myprofile">MY PAGE</a><br />
        <a href="/users/logout">Logout</a> 
    </div>

</body>
</html>