<a href="/dashboard/blocks">BLOCKS PAGE</a>
<h1>EDIT A BLOCK :</h1>
<form method="POST" action="/dashboard/blocks/edit/<%= data.id %>/add">
    <input value="<%= data.block  %>" name="block" />
    <button type="submit">EDIT</button>   
</form>  