<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
</head>
<body>
    <div class="login_page">
        <h1>Login</h1>
        <% if(typeof errors != 'undefined') { %>
            <% errors.forEach(function(error) { %>
                <%= error.msg %>
            <% }) %>
        <% } %>
        <form method="POST" action="/users/login">
            <h3>Email</h3>
            <input placeholder="Email" name="email" />
            <h3>Password</h3>
            <input placeholder="Password" name="password" />
            <button type="submit">LOGIN</button>
        </form>
        <a href="/users/register">REGISTER</a>  
    </div>    
</body>
</html>