<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
</head>
<body>
    <a href="/dashboard">DASHBOARD PAGE</a><br />

    <div class="myprofile_page"> 
        <h1>BLOCKS :</h1>
        <div class="myprofile_page-content">
            <% for(let i = 0; i < data.length; i++){  %>
                <div class="myprofile_page-block">
                    <div class="myprofile_page-img">
                        <div>
                            <h4><%= data[i].block  %></h4>
                            <p>Author: <%= data[i].User.email  %></p>
                        </div>

                        <img src="../public/<%= data[i].image  %>"></img>
                        
                    </div>
                    
                    
                    <div class="myprofile_page-comment">
                        <h3>Comments:</h3>
                        <p><%= data[i].Comments.block_id  %></p>
                    </div>
                </div>
                    <%}%>  
                
        </div> 

    </div>
</body>
</html>