<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
</head>
<body>
    <div class="register_page"> 
        <h1>Registration</h1>
        <% if(typeof errors != 'undefined') { %>
            <% errors.forEach(function(error) { %>
                <%= error.msg %>
            <% }) %>
        <% } %>
        <form method="POST" action="/users/register">
            <h3>Email</h3>
            <input placeholder="Email" name="email" />
            <h3>Password</h3>
            <input placeholder="Password" name="password" />
            <button type="submit">Register</button>
        </form>
        <a href="/users/login">LOGIN</a>        
    </div>
</body>
</html>