<!DOCTYPE html>
<html>
<head>
    <title>WELCOME PAGE</title>
    <link rel="stylesheet" type="text/css" href="../public/css/all.css">
</head>
<body>
    <div class="welcome_page">
        <h2>Create an account or login</h2>
        <a href="/users/register">Register</a>
        <a href="/users/login" >Login</a>
    </div>
</body>
</html>