a {
    text-decoration: none;
}
.myprofile_page{
    width: 80%;
    margin: 0 auto;
}

.myprofile_page h1{
    text-align: center;
}
.myprofile_page-content{
    display: flex;
    flex-wrap: wrap;
}

.myprofile_page-block{
    border: 1px solid orangered;
    width: 30%;
    height: 300px;
    margin: 10px;
    display: flex;
}
.myprofile_page-img h4{
    text-align: center;
}

.myprofile_page-img{
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.myprofile_page-img img{
    width: 60%;
    margin: 0 auto;
}

.myprofile_page-comment{
    width: 50%;
    text-align: center;
    border: 1px solid palegreen;
}