.register_page{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.register_page form{
    width: 40%;
    margin: 0 auto;
}

.register_page h3{
    margin: 0 auto;
}

.register_page input{
    width: 80%;
}

.register_page button{
    background: cornflowerblue;
    font-size: 20px;
    color: cornsilk;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    width: 30%;
}

.register_page a{
    text-decoration: none;
}