.welcome_page{
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.welcome_page h2{
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.welcome_page a{
    font-size: 20px;
    text-decoration: none;
    margin: 0 auto;
}